<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
      <label for="username">Username:</label>
      <div class="input-with-icon">
        <input type="text" id="username" formControlName="username" />
        <button class="btn btn-sm btn-primary" type="button" (click)="searchUsername()">
          Search Username
        </button>
      </div>
      <div style="color: red" *ngIf="username?.hasError('required') && (username?.dirty || username?.touched)">
        Username is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="securityQuestion1">Security Question:</label>
      <select id="securityQuestion1" formControlName="securityQuestion1">
        <option *ngFor="let option of securityQuestions" [value]="option">{{ option }}</option>
      </select>
      <div style="color: red" *ngIf="securityQuestion1?.hasError('required') && (securityQuestion1?.dirty || securityQuestion1?.touched)">
        Security Question is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="securityAnswer1">Security Answer:</label>
      <input type="text" id="securityAnswer1" formControlName="securityAnswer1" />
      <div style="color: red" *ngIf="securityAnswer1?.hasError('required') && (securityAnswer1?.dirty || securityAnswer1?.touched)">
        Security Answer is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" maxlength="15" formControlName="password" />
      <div style="color: red" *ngIf="resetPasswordForm.get('password')?.hasError('required') && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)">
        Password is required.
      </div>
      <div style="color: red" *ngIf="resetPasswordForm.get('password')?.hasError('invalidPassword') && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)">
        Password should contain at least one alphabet, one number, one special character, with a length between 7 and 15 characters.
      </div>
    </div>
  
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" maxlength="15" formControlName="confirmPassword" />
      <div style="color: red" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required') && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)">
        Confirm Password is required.
      </div>
      <div style="color: red" *ngIf="resetPasswordForm.hasError('passwordMismatch') && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)">
        Passwords do not match.
      </div>
    </div>
  
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    <button class="btn btn-sm btn-danger" type="submit" routerLink="/login">Cancel</button>
  </form>
  </div>
  